.basket {
  display: flex;
  justify-content: center; }
  .basket__wrapper {
    margin: 0 0 0 0;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .basket__title {
    color: #303030;
    font-size: 36px;
    font-weight: 700;
    margin: 0; }
  .basket__show {
    font-family: Georgia;
    margin: 8px;
    color: #7a7a7a;
    font-size: 18px;
    font-weight: 400;
    font-style: italic; }
