.path {
    align-self: flex-start;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    color: #606060;
    margin: 26px 0;
    word-spacing: 12px;
    }

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__wrapper {
        margin: auto;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &__title {
        margin: 0;
        color: #303030;
        font-family: Lato;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.8px;
    }

    &__discription {
        margin: 12px;
        font-size: 18px;
        color: #606060;
        font-family: Lato;
        font-style: italic;
    }
}

.exposition {
        margin: auto;
        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__wrapper {
            width: 100%;
            margin: 62px 12px;
        }

        &__img {
            height: 400px;
            background-color: rgb(207, 207, 207);
        }

        &__title {
            margin: 64px 0 24px 0;
            color: #303030;
            font-family: "Lato - Bold";
            font-size: 40px;
            font-weight: 700;
        }

        &__discription {
            color: gray;
            font-family: "Lato - Regular";
            font-weight: 400;
            letter-spacing: 0.7px;
            line-height: 26px;
        }
}