.path {
align-self: flex-start;
font-family: Lato;
font-size: 12px;
font-weight: 400;
color: #606060;
margin: 26px 0;
word-spacing: 12px;
    }

.categoryMen {
    display: flex;
    justify-content: center;

    &__wrapper {
        margin: 0 0 0 0;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

.category {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Lato;

    &__title {
        color: #303030;
        font-size: 36px;
        font-weight: 700;
        margin: 0;
    }
    
    &__show {
        font-family: Georgia;
        margin: 8px;
        color: #7a7a7a;
        font-size: 18px;
        font-weight: 400;
        font-style: italic;
    }
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.select {
    font-family: Georgia;
    font-style: italic;
    color: #606060;
    margin: 24px 48px;
    width: 170px;
    height: 24px;
    border: none;
    border-bottom:solid 1px #303030;
    transform: scale(1.2);
    outline: none;
}

.products {

    width: 100%;
    margin: 84px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
        margin: 24px 3vw;
        display: flex;
        flex-direction: column;
        transition: 0.2s;

        &:hover {
            transform: scale(1.1);
        }
    
    &__img {
        width: auto;
        height: 324px;
    }

    &__discription {
        display: flex;
        flex-direction: column;

        h4 {
            margin: 36px auto 12px auto;
            max-width: 150px;
        }

        h6 {
            color: #ff771c;
            margin: auto;
            font-family: Georgia;
            font-size: 16px;
        }
    }
}
